
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<hr />
<nav>
    <a href="/cv/profile">Profile</a>
    &nbsp;
    <a href="/cv/personal">Personal</a>
    &nbsp;
    <a href="/cv/education">Education</a>
    &nbsp;
    <a href="/cv/projects">Projects</a>
    &nbsp;
    <a href="/cv/reference">Reference</a>
</nav>
<hr />
<dl>
    <dt>🏫 SSC</dt>
    <dd>- Milestone School & College(2015-2017)</dd>
    <dt>🏫 HSC</dt>
    <dd>- Milestone School & College(2017-2019)</dd>
    <dt>🏫 Undergraduate</dt>
    <dd>- BSc CSE at American International University Bangladesh (AIUB) (2020-Present)</dd>
</dl>
