
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<hr />
<nav>
    <a href="/cv/profile">Profile</a>
    &nbsp;
    <a href="/cv/personal">Personal</a>
    &nbsp;
    <a href="/cv/education">Education</a>
    &nbsp;
    <a href="/cv/projects">Projects</a>
    &nbsp;
    <a href="/cv/reference">Reference</a>
</nav>
<hr />
<b>🏠 Currently living in :</b>
<hr />
<ul>
    <li>Uttara,Dhaka</li>
    <li><b>Permanent Address :&nbsp; </b>House:28,Road:24,Sector:7</li>
</ul>
<br />
<b>🏠 Home Town</b>
<hr />
<ul>
    <li>Chittagong</li>
</ul>
<br />
<b>🎨 Hobbies</b>
<hr />
<ul>
    <li>Coding</li>
    <li>Learning new techonologies</li>
    <li>Reading Articles</li>
</ul>
<br />
<b>⚡ Interested feilds</b>
<hr/>
<ul>
    <li>Software Engineering</li>
    <li>Full Stack Web Development</li>
</ul>
<br />
<b>🎯 Aim in Life</b>
<hr />
<ul>
    <li>Getting a full stack web development job in a reputed software company</li>
</ul>
<br />
<b>🤝 Clubs and Activies</b>
<hr />
<ul>
    <li>General Member at ACC(AIUB COMPUTER CLUB) (From Spring 21-22)</li>
</ul>
<br/>
