
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<hr />
<nav>
    <a href="/cv/profile">Profile</a>
    &nbsp;
    <a href="/cv/personal">Personal</a>
    &nbsp;
    <a href="/cv/education">Education</a>
    &nbsp;
    <a href="/cv/projects">Projects</a>
    &nbsp;
    <a href="/cv/reference">Reference</a>
</nav>
<hr />
<ul>
    <li>🧑‍💻 About Me</li>
    <ul>
        <li><b>Name :</b> Anindra Das Bivas</li>
        <li><b>Student ID:</b> 20-41848-1</li>
        <li><b>Department :</b> CSE </li>
        <li><b>Email :</b> bivasdas911@gmail.com</li>
        <li><b>Github :</b> <a href="https://github.com/Anindra123" target="_blank">My Github Account</a></li>
        <li><b>LinkedIn :</b> <a href="https://www.linkedin.com/in/anindra-das-bivas-4aa0b523a/" target="_blank">My Linked Profile</a></li>
        <li><b>Portfolio :</b> <a href="https://anindra123.github.io/portfolio/" target="_blank">My Portfolio</a></li>
    </ul>
</ul>

