
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<hr />
<nav>
    <a href="/cv/profile">Profile</a>
    &nbsp;
    <a href="/cv/personal">Personal</a>
    &nbsp;
    <a href="/cv/education">Education</a>
    &nbsp;
    <a href="/cv/projects">Projects</a>
    &nbsp;
    <a href="/cv/reference">Reference</a>
</nav>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Project Title</th>
            <th>Project Description</th>
            <th>Tech stack</th>
            <th>Github Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/portfolio-website-home.jpg"
                     width="400" height="200"
                     alt="porfolio project home" />
            </td>
            <td>
                Porfolio Website
            </td>
            <td>
                A website showcasing my projects,tools i am familiar with etc
            </td>
            <td>
                JS,CSS,HTML
            </td>
            <td><a href="https://github.com/Anindra123/portfolio" target="_blank">Github Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/system_view.png"
                     width="400" height="200"
                     alt="etone project image" />
            </td>
            <td>
                Etone
            </td>
            <td>
                A web application used to manage notes, better handle schedules and
                some additional features regarding productivity catered towards specific
                user
            </td>
            <td>
                PHP,JS,CSS,HTML,MYSQL
            </td>
            <td><a href="https://github.com/Anindra123/Etone" target="_blank">Github Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/password-managers-img.jpg"
                     width="400" height="200"
                     alt="password management app image" />
            </td>
            <td>
                Password Management App
            </td>
            <td>
                A commandline application used to store and manage passwords
            </td>
            <td>
                JAVA
            </td>
            <td><a href="https://github.com/Anindra123/PasswordManagerCli" target="_blank">Github Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/project-management-app.jpg"
                     width="400" height="200"
                     alt="project managment app" />
            </td>
            <td>
                Project Management App
            </td>
            <td>
                A desktop application used to manage small to medium scale projects
            </td>
            <td>
                C#
            </td>
            <td><a href="https://github.com/Anindra123/ProjectManagementApp" target="_blank">Github Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/sorting-visualizer.jpg"
                     width="400" height="200"
                     alt="sorting visualizer website" />
            </td>
            <td>
                SortingVisualizer
            </td>
            <td>
                A website to visualize various sorting algorithms
            </td>
            <td>
                JS,CSS,HTML
            </td>
            <td><a href="https://github.com/Anindra123/SortingAlgorithmVisualizer" target="_blank">Github Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/Anindra123/portfolio/main/images/path_finding.jpg"
                     width="400" height="200"
                     alt="pathfinding algorithm visualizer website" />
            </td>
            <td>
                PathFindingVisualizer
            </td>
            <td>
                A website to visualize various pathfinding algorithms
            </td>
            <td>
                JS,CSS,HTML
            </td>
            <td><a href="https://github.com/Anindra123/PathFindingVisualizer" target="_blank">Github Link</a></td>
        </tr>
    </tbody>
</table>
