
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<hr />
<nav>
    <a href="/cv/profile">Profile</a>
    &nbsp;
    <a href="/cv/personal">Personal</a>
    &nbsp;
    <a href="/cv/education">Education</a>
    &nbsp;
    <a href="/cv/projects">Projects</a>
    &nbsp;
    <a href="/cv/reference">Reference</a>
</nav>
<hr/>
<h3>Currently no one to refer from</h3>
<br/>
<ul>
    <li>Contact me : <a href="mailto:bivasdas911@gmail.com">bivasdas911@gmail.com</a></li>
</ul>